body {
	text-align: center;
	font-family: 'Roboto', Helvetica;
	color: #3F51B5;
}

.weather-icon {
	font-size: 150px;
	padding-top: 40px;
	margin-bottom: 20px;
}

#description {
	font-size: 40px;
	text-transform: capitalize;
    margin: 30 0 30 0;
    line-height: 1.1;
}

#city-name {
	font-size:20px;
	font-weight: lighter;
    margin-top: 60px;
}

#temperature{
    font-weight: lighter;
    font-size: 120px;
    margin: 60 0 30 0;
}

#temperature:hover {
    cursor: pointer;
}

.celisius::after { 
    content: 'C';
}

.fahrenheit::after { 
    content: 'F';
}